[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-identity = "==1.10.0"
azure-keyvault = "==4.2.0"
azure-storage-file-datalake = "==12.8.0"
pymssql = "==2.2.5"
pyspark = "==3.1.3"
pyyaml = "==6.0"
salesforce-bulk = "==2.2.0"
snowflake-connector-python = "==2.7.12"
snowflake-sqlalchemy = "==1.4.1"
sqlalchemy = "==1.4.41"
pyarrow = "==8.0.0"
pymsteams = "==0.2.2"
pandas = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
